{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>UnedicApp</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="p-3 mb-2 bg-light text-dark">
    <nav class='navbar navbar-expand-lg sticky-top navbar-light bg-light'>
        <a class='navbar-brand' href='#' ><img src="{{ asset('logo.png') }}" alt="Logo"/></a>
        <ul class='navbar-nav'>
            <li class='nav-item active'>
                <a href="{{path('app_liste_produits')}}" class='btn btn-light' role='button'>Tous les produits</a>
            </li>
            <li class='nav-item'>
                <a href="{{path('app_ajoutProduit')}}" class='btn btn-light' role='button'>Ajouter un Produit</a>
            </li>
        </ul>
    </nav>
    <div style='background-color: gray;'>
    <h1>{{categorie.libelle}}</h>
    </div>
    <div class="table-responsive">
    <table id="products" class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    {% if (message) %}
        {{ message }}
    {% endif %}
    {% for produit in lesProduits %}
        <tr>
         <th scope="row">{{ produit.libelleProduit }}</th>
         <td>{{ produit.categorie.libelle }}</td>
         <td>{{ produit.prix }} €</td>
         <td><a href="{{path('app_modifProduit',{'id': produit.id})}}">Modifier</a></br></td>
         <td><a href="{{path('app_suppProduit',{'id': produit.id})}}">Suppression</a></br></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <div style='background-color: gray;'>
    <h1>Lister les produits par Catégorie</h>
    </div>
    <div class="table-responsive">
    <table id="products" class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    {% if (message) %}
        {{ message }}
    {% endif %}
    {% for categorie in lesCategories %}
        <tr>
         <td><a href="{{path('app_triProduit',{'id': categorie.id})}}">{{ categorie.libelle }}</a></br></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
